UwpCalculator/CSUWPDuplex/Service References/CalculatorService/CalculatorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number1" type="xs:double" />
      <xs:element minOccurs="0" name="Number2" type="xs:double" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculateData" nillable="true" type="tns:CalculateData" />
</xs:schema>