WcfCallbackContract/WindowsWcfCallbackClient/Connected Services/MyRef/Callback.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8075/Callback?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCallbackService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCallbackService" minOccurs="0" name="arrDept" nillable="true" type="q1:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>